body { margin: 0; padding: 0; }


.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-default {
  background-color: #9c9c9c;
  border-color: #000;
}

.navbar-brand {
  font-weight: 700;
  font-size: 32px;
  color: #000 !important;
}

.page-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 700;
}


.menu-item {
  background-color: #9c9c9c;
  color: #000;
  padding: 15px;


  min-height: 1000px;


  border: 1px solid #000;
  margin: 0 15px 30px 15px;
}

.menu-item-title {
  margin-top: 0;
  font-weight: 700;
}

7
@media (max-width: 767px) {


  #mobile-menu {
    background-color: #f2f2f2;
    margin-left: -15px;
    margin-right: -15px;
  }


  #nav-list {
    margin: 0;
    width: 100%;
  }


  #nav-list > li > a {
    background-color: #ffffff;
    border: 1px solid #000;
    font-size: 18px;
  }

  #nav-list > li + li > a {
    border-top: 0;
  }
}
